header {
	width: 100%;
	color: white;
	background-color: teal;
	margin-bottom: 10px;
}

h1 {
	text-align: center;
}

h2 {
	margin: auto;
	padding: 10px;
}

h3 {
	background-color: teal;
	color: white;
	margin: auto;
	padding: 10px;
}

.container {
	width: 85%;
	border: 4px solid teal;
	margin: auto;
}
#gameChoice {
	margin: auto;
}